# Node.js / React / Angular / Nest / TypeScript / Vue
node_modules/
npm-debug.log
yarn-error.log

# Laravel / PHP
vendor/
.env

# Java
*.class
*.jar
*.war
target/
.mvn/

# C# / .NET (Si lo agregas)
bin/
obj/

# Entornos Virtuales (Python/Flask, por si acaso)
venv/
env/
__pycache__/

# Archivos del Sistema Operativo y Editores
.DS_Store
.vscode/
.idea/